body {
  margin: 0;
  padding: 0;
  background: url(images/background.jpg) 0 / cover fixed;
}

#main-container {
  position: relative;
  display: block;
  margin: 20vh auto;
  width: 60%;
  height: 60vh;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 0px 13px #333;
}

#main-container::before {
  background: url(images/background.jpg) 0 / cover fixed;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(3px);
  z-index: -1;
  margin: 3px;
}

#main-container h3 {
  text-align: center;
  width: 100%;
}

#main-container svg {
  display: block;
  margin: auto;
  background-color: #fff;
}
